[Unit]
Description=Trigger retrieve-p2p-links regularly
PartOf=retrieve-p2p-links.service
After=retrieve-p2p-links.service

[Timer]
# DayOfWeek Year-Month-Day Hour:Minute:Second
# https://www.freedesktop.org/software/systemd/man/systemd.time.html
OnCalendar=*:0/30

[Install]
WantedBy=multi-user.target
